.ten {
	color: #ff0303;
	background-color: #ff030325;
	border-color: #ff000030;
}
.twenty {
	color: #ff3103;
	background-color: #ff310325;
	border-color: #ff310330;
}
.forty {
	color: #ff7003;
	background-color: #ff700325;
	border-color: #ff700330;
}
.fifty {
	color: #f0c905;
	background-color: #f0c90513;
	border-color: #f0e80530;
}
.sixty {
	color: #eaa402;
	background-color: #eaa40225;
	border-color: #eaa40230;
}
.eighty {
	color: #a1c100;
	background-color: #71c10025;
	border-color: #71c10060;
}
.hundred {
	color: #00c137;
	background-color: #00c13725;
	border-color: #00c13760;
}
