@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--padding-inline-section: 20px;
}

body {
	font-family: "poppins", sans-serif;
}

.pointer {
	cursor: pointer;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style: none;
}

/* utility classes */
.textColor {
	color: #252525;
}
.small-bold-text {
	font-size: 1rem;
	font-weight: 700;
}

.container {
	max-width: 1400px;
	margin-inline: auto;
	padding-inline: var(--padding-inline-section);
	overflow: hidden;
}

.gradient-btn {
	background: rgb(240, 26, 45);
	background: linear-gradient(
		21deg,
		rgba(240, 26, 45, 1) 21%,
		rgba(249, 214, 40, 1) 100%
	);
	color: white;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.text-gradient {
	background: rgb(242, 26, 45);
	background: linear-gradient(
		0deg,
		rgba(242, 26, 45, 1) 30%,
		rgba(245, 211, 45, 1) 50%
	);

	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

@media screen and (min-width: 1024px) {
	.text-gradient {
		background: rgb(242, 26, 45);
		background: linear-gradient(
			0deg,
			rgba(242, 26, 45, 1) 35%,
			rgba(245, 211, 45, 1) 65%
		);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
}

.active {
	text-decoration: none;
	position: relative;
	padding-bottom: 6px;
}

.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: rgb(240, 26, 45);
	background: linear-gradient(
		211deg,
		rgba(240, 26, 45, 1) 18%,
		rgba(245, 211, 45, 1) 100%
	);
}
