@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--padding-inline-section: 20px;
	--primary-color: #f21a2d,
  --secondary: #6735da,
  --headingGray: #6d6e6f,
  --black: #111723,
  --gold: #f8c928,
  --pink2: #fd655b,
}

body {
	font-family: "poppins", sans-serif;
}

.pointer {
	cursor: pointer;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style: none;
}


textarea,
.input-field {
	outline: none;
	padding: 0.75rem;
	display: block;
	width: 100%;
	border-radius: 0.375rem;
	border: 1px solid #d1d5db;
	/* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
	outline: none;
	font-size: 0.875rem;
	transition: all 0.2s ease-in-out;
}

textarea:focus,
.input-field:focus {
	border-color: #f21a2d;
}

.right {
	text-align: right !important;
}

/* utility classes */
.textColor {
	color: #252525;
}
.small-bold-text {
	font-size: 1rem;
	font-weight: 700;
}

.container {
	max-width: 1400px;
	margin-inline: auto;
	padding-inline: var(--padding-inline-section);
	overflow: hidden;
}

.gradient-btn {
	background: rgb(240, 26, 45);
	background: linear-gradient(
		21deg,
		rgba(240, 26, 45, 1) 21%,
		rgba(249, 214, 40, 1) 100%
	);
	color: white;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.text-gradient {
	background: rgb(242, 26, 45);
	background: linear-gradient(
		0deg,
		rgba(242, 26, 45, 1) 40%,
		rgba(245, 211, 45, 1) 80%
	);

	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.backGroundGradient{
	background: rgb(240, 26, 45);
	background: linear-gradient(
		21deg,
		rgba(240, 26, 45, 1) 21%,
		rgba(249, 214, 40, 1) 100%
	);
	/* box-shadow: inset 0px 10px 35px -20px rgba(0, 0, 0, 1); */
	box-shadow: inset 0px 10px 19px -13px rgba(0,0,0,0.6);
}
@media screen and (min-width: 1024px) {
	.text-gradient {
		background: rgb(242, 26, 45);
		background: linear-gradient(
			0deg,
			rgba(242, 26, 45, 1) 40%,
			rgba(245, 211, 45, 1) 80%
		);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
}

.active {
	text-decoration: none;
	position: relative;
	padding-bottom: 6px;
}

.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: rgb(240, 26, 45);
	background: linear-gradient(
		211deg,
		rgba(240, 26, 45, 1) 18%,
		rgba(245, 211, 45, 1) 100%
	);
}

.custom-shadow {
	-webkit-box-shadow: 0px 0px 13px 1px rgba(43, 41, 43, 1);
	-moz-box-shadow: 0px 0px 13px 1px rgba(43, 41, 43, 1);
	box-shadow: 0px 0px 13px 1px rgba(43, 41, 43, 1);
}

.custom-shadow2 {
	-webkit-box-shadow: 0px -2px 12px -4px rgba(26, 26, 26, 0.518);
	-moz-box-shadow: 0px -2px 12px -4px rgba(26, 26, 26, 0.588);
	box-shadow: 0px -2px 12px -4px rgba(26, 26, 26, 0.471);
}

.box-shadow {
	/* background: #eee; */
	box-shadow: 0 8px 8px -2px rgba(0, 0, 0, 0.018);
}
